---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Panes from '@components/Panes.svelte'
import { panes } from "@/panes"
---

<Layout title="Peter Holmes Portfolio">
	<main style="height: 100vh; bottom: 0">
		<div id="container" class="block fixed h-screen bottom-0 w-screen overflow-auto snap-mandatory snap-y">
			<Panes client:only="svelte"  />
		</div>
	</main>
</Layout>

<style>
</style>
